AI Chief Operating Officer (workflow & systems).json
{
  "name": "AI Chief Operating Officer (workflow & systems)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "07a2bc02-4cb8-494d-8c40-71f767e808a1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QmmhpwJJoC27I4R-AnqVtgYSEmRMJun4RP58LB4K97U",
          "mode": "list",
          "cachedResultName": "Agent_Reporting_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QmmhpwJJoC27I4R-AnqVtgYSEmRMJun4RP58LB4K97U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QmmhpwJJoC27I4R-AnqVtgYSEmRMJun4RP58LB4K97U/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Date",
              "lookupValue": "={{ $today.toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "e2a5443c-5386-4a89-ac4e-8a99cdc3fccd",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Akid4TV8ABMywcjy",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the AI COO. Analyze today's data and provide a \"CEO Daily Briefing.\" Keep it extremely concise, visually clean, and easy to read at a glance.\n\n### DATA:\n- Date: {{ $json.Date }}\n- Leads: {{ $json.Leads_Scraped }}\n- Emails Sent: {{ $json.Emails_Sent }}\n- Replies: {{ $json.Replies }}\n- Meetings: {{ $json.Meetings_Booked }}\n- Content: {{ $json.Content_Posted }}\n\n### INSTRUCTIONS:\n1. Format the response as a clear dashboard.\n2. Use exactly one line per metric where possible.\n3. Language: English.\n\n### RESPONSE STRUCTURE:\n📅 **Daily Briefing: [Date]**\n\n📊 **Agent 1 (Sales):**\n• [Emails Sent] Sent → [Replies] Replies ([Reply %])\n• [Meetings Booked] Meetings Booked ([Meeting %])\n\n✅ **Agent 2 (Marketing):**\n• [Content Posted] Social posts published today.\n\n🎯 **Key Metric:**\n• Conversion (Meetings/Emails): [Conversion %]\n\n🚀 **COO Actionable Tip:**\n• [1 short sentence recommendation for tomorrow]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "291fca0a-d2bb-4db5-ba6e-fc2bb3cd1eeb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        368,
        272
      ],
      "id": "ff6b6394-afa1-4438-8f2a-9eaa6f097fd9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kIcSf7CUusTsRlqk",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6402646906",
        "text": "={{ $node[\"AI Agent\"].json[\"output\"] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        0
      ],
      "id": "240a4d12-9b7d-4f0b-96da-62b600b252b3",
      "name": "Send a text message",
      "webhookId": "2cf836c9-82f6-4ebd-ac1e-d8fa8adfb153",
      "credentials": {
        "telegramApi": {
          "id": "rI4cBrmPvFjv7IoB",
          "name": "ai content bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ab5c8d47-66bd-4266-b2ba-ee90fba4a6ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c003baf4c13ebe0ca4ffa413049716920dbc935a39545b2313c40c8cad020481"
  },
  "id": "W5Rs5tnXXEd7Cyig",
  "tags": []
}