Ai Marketing manager.json
{
  "name": "Ai Marketing manager",
  "nodes": [
    {
      "parameters": {
        "path": "lead-capture",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        0
      ],
      "id": "cbecde87-18c9-4ca0-81d9-bf3e4330bc8c",
      "name": "Webhook",
      "webhookId": "3b9dd57f-3db8-497d-8056-8e739f06a37b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert Real Estate AI Assistant. Your goal is to nurture leads and book appointments.\n\nSTRICT RULE: You must ONLY output the final email body. Do not include any headers like 'Subject:', 'Body:', 'Lead Record', or 'Categorization'. Do not use JSON format or curly braces { }. \n\nCrucial: Replace [Name] with the actual lead's name and [Service Interest] with their specific interest from the provided data (e.g., Listing Consultation, Buying a Home, etc.). Do not leave any brackets or placeholders in the final email.\n\nEmail Tone: Professional, empathetic, and inviting.\n\nStructure:\n1. Start with: 'Hi [Name],'\n2. Body: Mention their interest in [Service Interest]. Briefly explain how we help by providing personalized market insights and expert guidance.\n3. Call to Action: Offer a 15-minute call to discuss their goals.\n4. Booking Link: Always include 'https://calendly.com/real-estate-team/meeting'.\n5. Sign-off: 'Best regards, The AI Operations Team'.\n\nLead Data to Analyze:\nName: {{ $json.body.full_name }}\nInterest: {{ $json.body.service_interest }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "fe8546cd-3ef7-4beb-a517-460aa41506b0",
      "name": "AI Agent",
      "notesInFlow": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        272
      ],
      "id": "3cac5996-67b5-47d5-a562-d2a9b2c33e2e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kIcSf7CUusTsRlqk",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12C00gqAARs1fPdKVqXBdN24SEdJEvrupQThAib2CihA",
          "mode": "list",
          "cachedResultName": "Ai Marketing manager 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12C00gqAARs1fPdKVqXBdN24SEdJEvrupQThAib2CihA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12C00gqAARs1fPdKVqXBdN24SEdJEvrupQThAib2CihA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date & Time": "={{ $now }}",
            "AI Output": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date & Time",
              "displayName": "Date & Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Output",
              "displayName": "AI Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        0
      ],
      "id": "3aac39ff-8777-47eb-bdb8-552b1a035b76",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Akid4TV8ABMywcjy",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"Webhook\"].json.body.email }}",
        "subject": "={{ \n  (() => {\n    const rawOutput = $node[\"AI Agent\"].json.output;\n    if (typeof rawOutput === 'string' && rawOutput.trim().startsWith('{')) {\n      try {\n        const parsed = JSON.parse(rawOutput);\n        return parsed.welcome_message?.subject || parsed.subject || \"Welcome to AI Solutions\";\n      } catch (e) {\n        return \"Welcome to AI Solutions\";\n      }\n    }\n    if (typeof rawOutput === 'object') {\n      return rawOutput.welcome_message?.subject || rawOutput.subject || \"Welcome to AI Solutions\";\n    }\n    return rawOutput.match(/Subject:\\s*(.*)/i)?.[1] || \"Welcome to AI Solutions\";\n  })()\n}}",
        "emailType": "text",
        "message": "={{ $node[\"AI Agent\"].json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        880,
        -112
      ],
      "id": "16908677-0747-480c-a358-0c041d191420",
      "name": "Send a message",
      "webhookId": "75765de6-b6cb-4ffe-b789-a933b678cc31",
      "credentials": {
        "gmailOAuth2": {
          "id": "n0iLzL64ogiRzzei",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6402646906",
        "text": "=🚀 **New Lead Alert!** (Ai marketing manager)  👤 **Name:** {{ $node[\"Webhook\"].json.body.full_name }} 📧 **Email:** {{ $node[\"Webhook\"].json.body.email }} 🎯 **Interest:** {{ $node[\"Webhook\"].json.body.service_interest }} 🔥 **Status:** {{ $node[\"AI Agent\"].json.output.split('Category: ')[1].split('\\n')[0] }}  ✅ *Automatic welcome email has been sent.*",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        144
      ],
      "id": "30fc04e0-c9a6-4bcc-b94e-c8cd9ae17004",
      "name": "Send a text message",
      "webhookId": "f1922a77-b68f-4ef9-b661-a6c0c73dbb28",
      "credentials": {
        "telegramApi": {
          "id": "rI4cBrmPvFjv7IoB",
          "name": "ai content bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "21cc9a39-56f5-4600-ba28-d303361407a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c003baf4c13ebe0ca4ffa413049716920dbc935a39545b2313c40c8cad020481"
  },
  "id": "CcD7kNod9s6LqRwg",
  "tags": []
}