AI Sales Manager (lead response, follow-up, appointment setting).json
{
  "name": "AI Sales Manager (lead response, follow-up, appointment setting)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1456,
        -912
      ],
      "id": "91f6a742-552f-43d5-9449-7452889627a8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hbYI_SvG3vtwTl3iQ70HCd0-JTE410rcHZzBQ3OEB1I",
          "mode": "list",
          "cachedResultName": "Ai sales manager",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hbYI_SvG3vtwTl3iQ70HCd0-JTE410rcHZzBQ3OEB1I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hbYI_SvG3vtwTl3iQ70HCd0-JTE410rcHZzBQ3OEB1I/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "New"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1232,
        -912
      ],
      "id": "f749ae48-0799-4955-bcac-41421da83b0d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Akid4TV8ABMywcjy",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert Outbound Sales Specialist for a firm with two distinct divisions: \n1. Residential Real Estate (Focus: Property investment, listings, and market value).\n2. Financial Planning / Insurance Services (Focus: Risk management, wealth planning, and security).\n\nYOUR GOAL: \nWrite a highly personalized, human-sounding 1-sentence \"Icebreaker\" for a cold email. \n\nLEAD DATA (Mapping from Google Sheets):\n- Name: {{ $json[\"Full Name\"] }}\n- Job Title: {{ $json[\"Job Title\"] }}\n- Industry: {{ $json[\"Industry\"] }}\n- LinkedIn Bio: {{ $json[\"LinkedIn Bio\"] }}\n- Target Business: {{ $json[\"Service Category\"] }}\n\nSTRICT LOGIC RULES:\n1. If 'Target Business' is \"Residential Real Estate\": Your icebreaker must mention property trends, high-yield investments, or specific local market interest (e.g., Dhaka North/Purbachal) based on their Bio.\n2. If 'Target Business' is \"Insurance Services\": Your icebreaker must focus on professional legacy, employee benefits, or long-term financial security based on their Job Title.\n3. PERSONALIZATION: Use a specific detail from their 'LinkedIn Bio' or 'Job Title' so it doesn't look like an automated template.\n4. TONE: Professional, curious, and non-salesy.\n5. CONSTRAINT: Output ONLY the 1-sentence icebreaker. No \"Here is the line,\" no quotes, and no intro text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1040,
        -912
      ],
      "id": "b8c1baa4-0867-4459-8cb4-c9c4984fe9ad",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1168,
        -672
      ],
      "id": "dad9fa30-5438-4286-92a4-f567bc7b7fd4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kIcSf7CUusTsRlqk",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"Get row(s) in sheet\"].json[\"Email\"] }}",
        "subject": "={{ $node[\"Get row(s) in sheet\"].json[\"Full Name\"] }}",
        "message": "=<p>Hi <strong>{{ $node[\"Get row(s) in sheet\"].json[\"Full Name\"] }}</strong>,</p>\n\n<p>{{ $node[\"AI Agent\"].json[\"output\"] }}</p>\n\n<p>I’ve been following the current trends in the <strong>{{ $node[\"Get row(s) in sheet\"].json[\"Service Category\"] }}</strong> sector, and your profile caught my attention. I’d love to discuss how we can help you achieve better results in this area.</p>\n\n<p>Are you available for a quick 5-minute chat sometime this week?</p>\n\n<p>Best regards,<br>\n<strong>Shuvo Biswas</strong><br>\nAI Automation Specialist</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -688,
        -912
      ],
      "id": "e05c7bf8-9b78-4e00-9c1f-965d5312c197",
      "name": "Send a message",
      "webhookId": "d4ff1905-9e9e-42af-bb03-09f6ffda2449",
      "credentials": {
        "gmailOAuth2": {
          "id": "n0iLzL64ogiRzzei",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "151Ii0U5knXAsSaq3JRp2M0KTCatzo61SNgbnyhonM7k",
          "mode": "list",
          "cachedResultName": "AI Sales Prospector - Lead CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/151Ii0U5knXAsSaq3JRp2M0KTCatzo61SNgbnyhonM7k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/151Ii0U5knXAsSaq3JRp2M0KTCatzo61SNgbnyhonM7k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sent Date": "={{ $('Schedule Trigger').item.json['Readable date'] }}",
            "Full Name": "={{ $('Get row(s) in sheet').item.json['Full Name'] }}",
            "Email": "={{ $('Get row(s) in sheet').item.json.Email }}",
            "Linkedln Bio": "={{ $('Get row(s) in sheet').item.json['LinkedIn Bio'] }}",
            "Status": "={{ $('Get row(s) in sheet').item.json.Status }}",
            "AI Icebreaker": "={{ $('AI Agent').item.json.output }}",
            "Servece Ctegory": "={{ $('Get row(s) in sheet').item.json['Service Category'] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Sent Date",
              "displayName": "Sent Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedln Bio",
              "displayName": "Linkedln Bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Servece Ctegory",
              "displayName": "Servece Ctegory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Icebreaker",
              "displayName": "AI Icebreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -496,
        -912
      ],
      "id": "d19ad7ce-05fb-466c-96fa-c93c4127c3e8",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Akid4TV8ABMywcjy",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9b84518d-a979-4549-a7c1-579277d21ee1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c003baf4c13ebe0ca4ffa413049716920dbc935a39545b2313c40c8cad020481"
  },
  "id": "AY2OTBrtiIaht9Lu",
  "tags": []
}